<%# Note that this file has a bunch of unicode icons that might not be visible in your editor %>
<section id="hero" class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container columns">
            <div class="column">
                <img srcset="/img/sustaphones_background3_200.avif 1x, /img/sustaphones_background3_400.avif 2x" src="/img/sustaphones_background3_200.avif" />
            </div>
            <div class="column is-four-fifths">
                <h2 class="subtitle">
                    Sustainable software & hardware
                </h2>
                <p class="container">
                    For a modern smartphone to be sustainable, at the very minimum it has to get security updates and it needs to be possible to change the inevitably failing battery. This site is designed to help with finding those phones (and tablets now too!): Phones that are supported by an alternative Android distribution are listed together with guides for changing the battery. 
                </p>
            </div>
        </div>
    </div>
</section>

<aside class="section">
    <div class="container">
        <div class="field">
            <label for="search-field" class="label">Search</label>
            <p class="control has-icons-left">
                <input id="search-field" class="search input" placeholder="Device Name" />
                <span class="icon is-small is-left">
                    <i>🔍</i>
                </span>
            </p>
        </div>
        <div class="field is-horizontal is-grouped is-grouped-multiline">
        <% @filters.each do |target, values| %>
            <% next if values.empty? %>
            <div class="field mr-3">
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>
                                <% if target == :vendor %>Vendor<% end %>
                                <% if target == :release %>Release Year<% end %>
                                <% if target == :lineage_version %>LineageOS<% end %>
                                <% if target == :e_version %>/e/<% end %>
                                <% if target == :calyxos_version %>CalyxOS<% end %>
                                <% if target == :iode_version %>iodé<% end %>
                                <% if target == :axpos_version %>AXP.OS<% end %>
                                <% if target == :battery_repairscore %>Battery Guide Difficulty<% end %>
                                <% if target == :headphone_jack %>Headphone Jack<% end %>
                                <% if target == :sdcard %>SD Card<% end %>
                                <% if target == :openandroidinstaller %>OpenAndroidInstaller<% end %>
                            </span>
                            <span class="icon is-small">
                                <i aria-hidden="true">⌵</i>
                            </span>
                        </button>
                    </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                        
                            <div class="dropdown-item select is-multiple">
                                <select id="select<%= target %>" data-target="<%= target %>" multiple>
                                    <option>All</option>
                                    <% values.each do |value| %>
                                        <option><%= value %></option>
                                    <% end %>
                                </select>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>
</aside>

<main id="androids">
    <div class="list section columns is-multiline is-variable">
    <% @devices.each do |id, values| %>
        <div class="column is-one-third-fullhd is-half-tablet">
            <div class="box" id="<%= id %>">
                <section class="deviceinfo columns is-variable is-1">
                    <div class="column is-one-third">
                        <figure>
                            <% if values['images'].respond_to?('has_key?') %>
                                <img loading="lazy" width="140" height="105" alt="" src="<%= values['images']['140x105'] %>" />
                            <% else %>
                                <img loading="lazy" width="140" height="105" alt="" src="/img/placeholder2.webp" />
                            <% end %>
                        </figure>
                    </div>
                    <div class="column devicename is-two-third is-z-1">
                        <h2 class="subtitle"><a href="#<%= id %>"><span class="vendor"><%= values['vendor'] %></span>,
                        <span class="release"><% if values['release'].respond_to?('any?') %>
                            <%= values['release'].first.values.first.to_s.gsub(/-.+/, '') %></span>,
                        <% else %>
                            <%= values['release'].to_s.gsub(/-.+/, '') %></span>,
                        <% end %>
                        <%= id %></a>
                        </h2>
                        <h2 class="title"><%= values['name'] %></h2>
                        <% if values['aka'].respond_to?('any?') %>
                            <div class="subtitle is-6">also: <%= values['aka'].join(', ') %></div>
                        <% end %>
                    <div>
                </section>

                <div class="sustainable columns is-variable is-1">
                    <section class="software column is-one-half">
                        <h3 class="title is-4">Soft&shy;ware</h3>
                        <dl>
                        <% unless values['lineage_version'].nil? %>
                        <dt><a <% if values['lineage_version'] %>href="https://wiki.lineageos.org/devices/<%= id %>"<% else %>href="https://lineageos.org"<% end %>>Line&shy;age&shy;OS</a></dt>
                        <dd>
                            <abbr class="lineage_version <%= android_version_rating(android_lineage_version(values['lineage_version'])) %>" title="Android <%= android_lineage_version(values['lineage_version']) %>" tabindex="0">
                                <%= values['lineage_version'] %>
                            </abbr>
                        </dd>
                        <% end %>
                        <% unless values['e_version'].nil? %>
                        <dt><a <% if values['e_version'] %>href="https://doc.e.foundation/devices/<%= id %>/"<% else %> href="https://e.foundation/"<% end %>>/e/</a></dt>
                        <dd>
                            <abbr class="e_version <%= android_version_rating(android_e_version(values['e_version'])) %>" title="Android <%= android_e_version(values['e_version']) %>" tabindex="0">
                                <%= values['e_version'] %>
                            </abbr>
                        </dd>
                        <% end %>
                        <% unless values['calyxos_version'].nil? %>
                        <dt><a href="https://calyxos.org/install/devices/<%= id %>"> Calyx&shy;OS</a></dt>
                        <dd>
                            <abbr class="calyxos_version <%= android_version_rating(values['calyxos_version']) %>" title="Android <%= values['calyxos_version'] %>" tabindex="0">
                                <%= values['calyxos_version'] %>
                            </abbr>
                        </dd>
                        <% end %>
                        <% unless values['iode_version'].nil? %>
                        <dt><a href="https://iode.tech/iodeos-installation/"> iodé&shy;OS</a></dt>
                        <dd>
                            <abbr class="iode_version <%= android_version_rating(android_iode_version(values['iode_version'])) %>" title="Android <%= android_iode_version(values['iode_version']) %>" tabindex="0">
                                <%= values['iode_version'] %>
                            </abbr>
                        </dd>
                        <% end %>
                        <% unless values['axpos_version'].nil? %>
                        <dt><a href="https://axpos.org/devices/<%= values['vendor'].downcase %>/<%= id %>/">AXP.OS</a></dt>
                        <dd>
                            <abbr class="axpos_version <%= android_version_rating(values['axpos_version']) %>" title="Android <%= values['axpos_version'] %>" tabindex="0">
                                <%= values['axpos_version'] %>
                            </abbr>
                        </dd>
                        <% end %>
                        <% if values['openandroidinstaller'] == "Yes" %>
                        <dt><a href="https://openandroidinstaller.org/"> Open&shy;Android&shy;Installer</a></dt>
                        <dd>
                            <span class="icon success">                                
                                <i aria-hidden="true" title="Yes">✅</i>
                                <span class="is-sr-only openandroidinstaller">Yes</span>
                            </span>
                        </dd>
                        <% else %>
                            <dt class="is-hidden"><a href="https://openandroidinstaller.org/"> Open&shy;Android&shy;Installer</a></dt>
                            <dd class="is-hidden">
                                <span class="is-sr-only openandroidinstaller">No</span>
                            </dd>
                        <% end %>
                        </dl>
                        <% if values['unlockable'] == false || values['volte_locked'] %>
                        <ul>
                            <% if values['unlockable'] == false %>
                                <li><abbr title="For this device, there is no official method to unlock the bootloader anymore." tabindex="0">Warning: Not unlockable ⚿</abbr></li>
                            <% end %>
                            <% if values['volte_locked'] %>
                                <li><abbr title="Voice over LTE is implemented as closed source and might not work in some ROMs." tabindex="0">Warning: VoLTE unfree ✆</abbr></li>
                            <% end %>
                        <% end %>
                    </section>
                    
                    <section class="column is-one-half">
                        <h3 class="title is-4">Hardware</h3>
                        <dl>
                        <dt>Battery swappable</dt>
                        <dd>
                        <% if values['battery'].respond_to?('has_key?') && values['battery']['removable'] == true %>
                            <span class="icon success">                                
                                <i aria-hidden="true" title="Yes">✅</i>
                                <span class="is-sr-only">Yes</span>
                            </span>
                        <% else %>
                            <span class="icon danger">                                
                                <i aria-hidden="true" title="No">❌</i>
                                <span class="is-sr-only">No</span>
                            </span>
                        <% end %>
                        </dd>
                        <dt><% if values['battery_guide'] %><a href="<%= values['battery_guide'] %>"><% end %>iFixit battery guide<% if values['battery_guide'] %></a><% end %></dt>
                        <dd>
                        <% if values['battery_repairscore'] == 'Very easy' || values['battery_repairscore'].to_s == 'Easy' %>
                            <span class="icon success">
                                <i aria-hidden="true" title="<%= values['battery_repairscore'] %>">✅</i>
                                <span class="is-sr-only battery_repairscore"><%= values['battery_repairscore'] %></span>
                            </span>
                        <% end %>

                        <% if values['battery_repairscore'] == 'Moderate' %>
                            <span class="icon warning">
                                <i aria-hidden="true" title="<%= values['battery_repairscore'] %>">⚠</i>
                                <span class="is-sr-only battery_repairscore"><%= values['battery_repairscore'] %></span>
                            </span>
                        <% end %>

                        <% if ! values.has_key?('battery_guide') || values['battery_repairscore'] == 'Difficult' || values['battery_repairscore'] == 'Very difficult'  %>
                            <span class="icon danger">
                                <i aria-hidden="true" title="<%= values['battery_repairscore'] || "Missing" %>">❌</i>
                                <span class="is-sr-only battery_repairscore"><%= values['battery_repairscore'] || "Missing" %></span>
                            </span>
                        <% end %>
                        </dd>
                        <dt>Head&shy;phone Jack</dt>
                        <dd>
                        <% if values['headphone_jack'].nil? || values['headphone_jack'].empty? %>
                            <span class="icon warning">                                
                                <i aria-hidden="true" title="Unknown">❓</i>
                                <span class="is-sr-only headphone_jack">Unknown</span>
                            </span>
                        <% else %>
                            <% if values['headphone_jack'] == 'Yes' %>
                                <span class="icon success">                                
                                    <i aria-hidden="true" title="Yes">✅</i>
                                    <span class="is-sr-only headphone_jack">Yes</span>
                                </span>
                            <% else %>
                                <span class="icon danger">                                
                                    <i aria-hidden="true" title="No">❌</i>
                                    <span class="is-sr-only headphone_jack">No</span>
                                </span>
                            <% end %>
                        <% end %>
                        </dd>
                        <dt>SD Card</dt>
                        <dd>
                        <% if values['sdcard'].nil? || values['sdcard'].empty? %>
                            <span class="icon danger">
                                <i aria-hidden="true" title="No">❌</i>
                                <span class="is-sr-only sdcard">No</span>
                            </span>
                        <% else %>
                            <span class="icon success">
                                <i aria-hidden="true" title="Yes">✅</i>
                                <span class="is-sr-only sdcard">Yes</span>
                            </span>
                        <% end %>
                        </dd>
                        </dl>
                    </section>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</main>
