<!DOCTYPE html>
<html lang="en" class="theme-light">
    <head>
        <meta charset="utf-8" />
        <title>sustaphones</title>
        <link rel="stylesheet" href="/css/stripped/bulma.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="Description" content="A mashup for finding repairable smartphones that are supported by custom Android ROMs.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer src="/js/list.min.js"></script>
        <script defer src="/js/main.js"></script>
        <link rel="preconnect" href="https://d3nevzfk7ii3be.cloudfront.net">
        <link rel="dns-prefetch" href="https://d3nevzfk7ii3be.cloudfront.net">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    </head>
    <body class="has-background-light">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1><img alt="" src="/img/logo_small.webp" width="18" height="25" style="vertical-align: middle;"/>&nbsp;sustaphones</h1>
                </a>
                <div role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNav">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </div>
            <div id="mainNav" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item <%= 'is-selected' if @page == :phones %>" href="/">Phones</a>
                    <a class="navbar-item <%= 'is-selected' if @page == :tablets %>" href="/tablets.html">Tablets</a>
                </div>
                <div class="navbar-end">
                </div>
            </div>
        </nav>
        <%= yield %>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Made with wiki data from the <a class="has-text-link-dark" href="https://wiki.lineageos.org/">LineageOS project</a> (licensed under <a class="has-text-link-dark" href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>) mixed with data, including images, from the the <a class="has-text-link-dark" href="https://www.ifixit.com/api/2.0/doc">iFixit API</a> (licensed under <a class="has-text-link-dark" href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a>) and data from <a href="https://docs.google.com/spreadsheets/d/1bx6RvTCEGn5zA06lW_uZGZ_dq6qQyCZC_NifmyeC1lM/edit#gid=0">LineageOS Phones by Spec</a> by <a href="https://github.com/nobodywasishere">nobodywasishere</a>, with his permission. 
                </p>
                <p>
                    Sponsored by <a class="has-text-link-dark" href="https://www.pc-kombo.com/us/">pc-kombo</a>. Issue tracker and source code lives <a class="has-text-link-dark" href="https://gitlab.com/onli/sustaphones">at GitLab</a>.
                </p>
            </div>
        </footer>
    </body>
</html>