html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

:root {
    --bulma-primary-h: 199deg;
    --bulma-primary-l: 78%;
    --bulma-info-h: 158deg;
    --bulma-success-l: 68%;
}

@view-transition {
  navigation: auto;
}

.hero {
    --bulma-hero-body-padding-medium: 4rem 3.5rem;
    background: #031432 !important;
}

.hero img {
    max-width: min(200px, 100%);
}

.hero-body > .container,
.hero-body > .container .subtitle {
    color: #dae0e6;
}

.success {
    color: #0d8938;
}

.warning {
    color: #886f0c;
}

.warning i {
    font-size: 1.2em;
}

.danger {
    color: #da3152;
}

.is-z-1 {
    z-index: 1;
}

dl {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.3em;
}

dt {
    hyphens: auto;
}

dt:after {
    content: ':';
}

dd {
    text-align: left;
    hyphens: auto;
}

.subtitle a:hover:after {
    content: "#";
}

.box:target {
    animation: fadeIt 0.5s ease-in-out; 
}

@keyframes fadeIt {
  0%   { background-color: #fff; }
  50%  { background-color: #ffa; }
  100% { background-color: #fff; }
}

.software .icon {
    justify-content: normal;
}

aside .dropdown-content,
aside .dropdown-item {
    padding: 0;
}

aside .dropdown-menu {
    min-width: 0;
}

.dropdown-trigger i {
    height: 1.7em;
}

.title {
    font-weight: 400;
}

[id] {
    scroll-margin-top: 1rem;
}

.box {
    height: 100%;
    contain: layout paint;
}

i {
    font-style: normal;
}

abbr {
    position: relative;
    text-decoration: initial;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
    text-underline-offset: .15em;
    display: inline-block;
}

.software dl abbr, .software dl span {
    /* make it easier to click element on mobile */
    padding-left: 1em;
    padding-right: 1em;
}


abbr[title]:focus::after {
  content: attr(title);

   /* position tooltip like the native one */
  position: absolute;
  left: 0;
  bottom: -30px;
  width: max-content;
  max-width: 80vw;
  z-index: 10;

  /* style tooltip */
  background-color: black;
  color: #e3e5ea;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  padding: 3px 5px;
}

@media screen and (min-width: 768px) {
    abbr[title]:focus::after {
        max-width: 40vw;
    }
}

@media screen and (min-width: 1408px) {
    abbr[title]:focus::after {
        max-width: 30vw;
    }
}

.software ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0.5rem;
}


@media (prefers-color-scheme: dark) {
    .has-background-light, .footer, .navbar, #mainNav {
        background-color: #292a2d !important;
    }

    .box, .button, select, .input, a.navbar-item:hover {
        background-color: #3e4244 !important;
        box-shadow: none !important;
    }

    .title, .box, footer, .hero, .subtitle, .label, .button, select, .input, ::placeholder {
        color: #e3e5ea !important;
    }

    .button {
        border-color: #4E5051 !important;
    }

    a, a.has-text-link-dark {
        color: rgb(164, 172, 234) !important;
    }

    a:visited {
        color: rgb(202, 164, 234) !important;
    }

    .hero {
        filter: brightness(90%);
    }

    .box img, .icon.success {
        filter: brightness(80%);
    }

    .success {
        color: #55ca7e;
    }

    .warning {
        color: #cab14e;
    }

    .danger {
        color: #fb8e8e;
    }

    .navbar a, .nacbar a:visited {
        color: rgb(240, 241, 245) !important
    }
}